.account-mmr {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;

	@media screen and (max-width: 500px) {
		padding: 0 10px;
		margin-top: 20px;
		width: 100%;
		font-size: 1.8rem;
	}

	&-card {
		padding: 10px;
		background-color: rgba(15, 25, 35, 0.95);

		&-data {
			margin-bottom: 5px;

			.lost {
				font-weight: 700;
				padding: 0 3px;
				border-radius: 3px;
				background-color: rgb(187, 50, 26);
			}
			.won {
				font-weight: 700;
				padding: 0 3px;
				border-radius: 3px;
				background-color: rgb(26, 187, 34);
			}
		}
	}
}
