.account-mmr {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	display: flex;

	@media screen and (max-width: 500px) {
		padding: 0 10px;
		margin-top: 10px;
		width: 100%;
		display: block;
		font-size: 1.8rem;
	}

	&-card {
		padding: 10px;
		background-color: rgba(15, 25, 35, 0.95);

		@media screen and (max-width: 500px) {
			padding: 10px 7vw;
		}

		&-data {
			margin-bottom: 5px;

			&.rank {
				display: flex;
				align-items: center;
				column-gap: 10px;

				.player-rank {
					max-width: 50px;
				}
			}
			.lost {
				font-weight: 700;
				padding: 0 3px;
				border-radius: 3px;
				background-color: rgb(187, 50, 26);
			}
			.won {
				font-weight: 700;
				padding: 0 3px;
				border-radius: 3px;
				background-color: rgb(26, 187, 34);
			}

			&.match {
				text-indent: 15px;
				margin-top: 10px;
			}

			&.match span {
				color: rgb(26, 187, 34);
			}
			&.match span.less {
				color: rgb(187, 50, 26);
			}
		}
	}

	.fav-agent {
		@media screen and (max-width: 500px) {
			display: none;
		}
	}

	.fav-agent img {
		position: absolute;
		pointer-events: none;
		right: -250%;
		bottom: -70px;
		transform: scale(140%);
		max-width: 600px;
	}
}
