.account-matches {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	overflow-y: scroll;
	overflow-x: hidden;
	height: 62vh;

	&::-webkit-scrollbar {
		width: 0;
	}

	@media screen and (max-width: 500px) {
		width: 100%;
		padding: 0 10px;
	}

	.match {
		width: 450px;
		color: #fff;
		padding: 10px 5px;
		background: rgba(19, 35, 51, 0.9);
		margin-bottom: 10px;
		font-size: 1.5rem;

		@media screen and (max-width: 500px) {
			width: 100%;
			padding-bottom: 3px;
			font-size: 1.2rem;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&-data {
			margin-bottom: 10px;
			position: relative;
			display: flex;

			&-info {
				flex-basis: 87%;
				display: grid;
				gap: 10px;
				grid-template-columns: 1fr 1fr;
			}

			&-score {
				flex-basis: 13%;
				font-weight: 700;
				display: flex;
				flex-direction: column;
				align-items: center;

				.rounds__won {
					position: relative;
					margin-bottom: 12px;
					width: 2ch;
					text-align: center;

					&.victory {
						color: rgb(24, 226, 24);
					}
					&.draw {
						color: #fff;
					}
					&::after {
						content: '. .';
						color: #fff;
						width: 25px;
						text-align: center;
						bottom: -10px;
						left: 0;
						position: absolute;

						@media screen and (max-width: 500px) {
							left: -2px;
						}
					}
				}

				.rounds__lost {
					width: 2ch;
					text-align: center;
					&.defeat {
						color: rgb(226, 37, 24);
					}
					&.draw {
						color: #fff;
					}
				}
			}

			.score {
				display: flex;
				align-items: center;
			}

			&::after {
				content: '';
				position: absolute;
				height: 1px;
				bottom: -5px;
				left: -5px;
				width: calc(100% + 10px);
				background-color: #ff1d30;
			}
		}

		.map-stats {
			display: flex;
			align-items: center;
			column-gap: 10px;

			&__result {
				padding: 3px;
				font-weight: 700;
			}
			&__result.victory {
				background-color: rgb(70, 175, 22);
			}
			&__result.defeat {
				background-color: rgb(219, 46, 15);
			}
			&__result.draw {
				background-color: rgb(87, 87, 87);
			}
		}

		.player-stats {
			display: flex;
			justify-content: center;
			align-items: flex-start;

			&-stat {
				padding: 5px 10px;
				row-gap: 10px;
				display: grid;
				grid-template-columns: 150px 150px;

				@media screen and (max-width: 500px) {
					grid-template-columns: 98px 115px;
				}

				p {
					font-weight: 700;
				}

				.kd {
					span {
						color: rgb(70, 175, 22);
					}
					span.less {
						color: rgb(219, 46, 15);
					}
				}
			}

			img {
				max-width: 100px;

				@media screen and (max-width: 500px) {
					max-width: 95px;
				}
			}
		}
	}
}
